<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings >
		<clear/>
		<add name="MyDbConnection"
             connectionString="Server=127.0.0.1,1433;Database=starshopdb;User Id=sa;Password=1q2w3e4R!;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>